# Node modules
node_modules/

# Environment variables
.env

# Base de datos local
database.sqlite
database.js

# Logs
*.log

# MacOS
.DS_Store

# Visual Studio Code
.vscode/

# NPM debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build folders (si alguna vez tienes)
dist/
build/
